@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Neucha', 'cursive';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
